<div class="shoelaceTrialContainer" data-controller="fluenttrial">
  <div>
    <puris-logomark variant="black" width="200px"></puris-logomark>
    <puris-logotype variant="black" width="200px"></puris-logotype>
  </div>
  <div class="shoelaceTrialDataContainer">
    <h1>Shoelace Trial Test Data</h1>
    <h6 id="h6idthing">Data</h6>
    <% if @dataThing.present? %>
      <% @dataThing.each do |thing| %>
        <strong><%= thing[:display_name] %></strong>
        (<%= thing[:email] %>)
        - status: <%= thing[:status] %>
        - plan: <%= thing[:plan] %>
      <% end %>
      <div class='shoelaceButtonContainer'>
        <%= form_with url: add_data_fluenttrial_index_path, method: :post, local: true do %>
          <sl-button type="submit" variant="primary" outline>Hit Rails Controller</sl-button>
        <% end %>
        <div class="shoelaceButtons">
          <sl-button 
        data-action="click->fluenttrial#doabuttonthing"
            appearance="primary">Shoelace Button</sl-button>
          <sl-button 
          data-action="click->fluenttrial#moreButtons"
            appearance="primary"
            outline
            pill
            >Button</sl-button>
          <div class="shoelaceSelectContainer">
            <div>
              <sl-dropdown 
          placement="bottom" 
          distance="5"
          skidding='15' 
          sync

          id="fluenttrial-theming"
          >
                <sl-button slot="trigger" caret>Dropdown</sl-button>
                <sl-menu
            data-action="sl-select->fluenttrial#changeTheme"
                  >
                  <sl-menu-item value="light">Light</sl-menu-item>
                  <sl-menu-item value="dark">Dark</sl-menu-item>
                </sl-menu>
              </sl-dropdown>
            </div>
          </div>
        </div>
      </div>
      <div class="webawesomeContainer">
        <div class="animation-form">
          <wa-animation id="nonoButton" name="headShake" easing="ease-in-out" duration="1000" iterations="1">
            <wa-button 
            data-action="click->fluenttrial#shakey"
              size="small"
              pill
              variant="brand"
              appearance="outlined"
              >WA Button
            </wa-button>
          </wa-animation>
        </div>
        <wa-animation id="secondAnimation" name="hinge" easing="ease-in-out" duration="1500" iterations="1">
          <wa-button size="small" appearance="outlined"
          data-action="click->fluenttrial#doabuttonthing"
            >
            <wa-icon 
          data-action="click->fluenttrial#doabuttonthing"
              family="solid" 
              name="angles-up"
              <%# animation="shake" %>
              ></wa-icon>
          </wa-button>
        </wa-animation>
        <wa-tooltip for="testButton" placement="right-start">Tooltip Text Here</wa-tooltip>
        <wa-button id="testButton" size="small" appearance="filled-outline" variant="brand" pill>
          <wa-icon family="solid" name="atom">
          </wa-icon>
        </wa-button>
      </div>
      <div class="newContainer">
        <div>
          <wa-button-group orientation="vertical">
            <wa-button size="small" appearance="filled" id="button-bold" variant="brand">
              <wa-icon name="bold" variant="solid" label="Bold"
            ></wa-icon>
            </wa-button>
            <wa-button size="small" appearance="filled" id="button-italic"><wa-icon name="italic" variant="solid" label="Bold"></wa-icon></wa-button>
            <wa-button size="small" appearance="filled" id="button-underline"><wa-icon name="underline" variant="solid" label="Bold"></wa-icon></wa-button>
          </wa-button-group>
        </div>
        <div style="margin: 1em;">
          <wa-button-group orientation="horizontal">
            <wa-button size="small" appearance="filled" id="button-bold" variant="brand" pill>
              One
            </wa-button>
            <wa-button size="small" appearance="filled" id="button-italic" pill>
              Two
            </wa-button>
            <wa-button size="small" appearance="filled" id="button-underline" pill>
              Three
            </wa-button>
          </wa-button-group>
        </div>
        <wa-button appearance="filled" data-dialog="open dialog-overview">Open Dialog</wa-button>
      </div>
      <wa-dialog label="dialog" id="dialog-overview" light-dismiss style="--width: 50vw;">
        Standard Dialog 
      </wa-dialog>
    </div>
  <% else %>
    <p>No test data available.</p>
  <% end %>
</div>